#app{
    margin: auto;
    width: 40%;
}
img{
    border-radius: 50%;
    margin: auto;
    
}
img.male{
    border: 2px solid blue;
}
img.female{
    border: 2px solid pink;
}
button{
    border: none;
    padding: 1rem;
}
button.male{
    background-color: blue;
    color: white;
}
button.female{
    background-color: pink !important;
}